[package]
name = "icicle-bn254"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "Rust wrapper for the CUDA implementation of BN254 pairing friendly elliptic curve by Ingonyama"
homepage.workspace = true
repository.workspace = true

[dependencies]
icicle-core = { workspace = true }
icicle-runtime = { workspace = true }
# criterion = "0.3"

[dev-dependencies]
criterion = "0.3"
serial_test = "3.0.0"

[build-dependencies]
cmake = "0.1.50"

[features]
default = []
no_g2 = []
no_ecntt = []
cuda_backend = ["icicle-runtime/cuda_backend"]
pull_cuda_backend = ["icicle-runtime/pull_cuda_backend"]

[[bench]]
name = "ntt"
harness = false

[[bench]]
name = "msm"
harness = false

[[bench]]
name = "ecntt"
harness = false
