#include <cuda_runtime.h>

#ifndef _{{toUpper .Curve}}_ECNTT_H
#define _{{toUpper .Curve}}_ECNTT_H

#ifdef __cplusplus
extern "C" {
#endif

typedef struct NTTConfig NTTConfig;
typedef struct projective_t projective_t;

int {{.Curve}}_ecntt(const projective_t* input, int size, int dir, NTTConfig* config, projective_t* output);

#ifdef __cplusplus
}
#endif

#endif