*.i
*.ii
*.gpu
*.ptx
*.cubin
*.bin
*.fatbin
*.so
*.nsys-rep
*.ncu-rep
*.sage.py
**/target
**/.vscode
**/.*lock*csv#
**/__pycache__/
**/.DS_Store
**/Cargo.lock
**/icicle/build/
**/wrappers/rust/icicle-cuda-runtime/src/bindings.rs
**/build*
# TODO remove bellow when development of cpu msm ends
icicle_v3/backend/cpu/src/curve/Makefile
icicle_v3/backend/cpu/src/curve/*.o
icicle_v3/backend/cpu/src/curve/*.txt
icicle_v3/backend/cpu/src/curve/msm_test