[package]
name = "icicle-m31"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "Rust wrapper for the CUDA implementation of m31 prime field by Ingonyama"
homepage.workspace = true
repository.workspace = true

[dependencies]
icicle-core = { workspace = true }
icicle-cuda-runtime = { workspace = true }
criterion = "0.3"
rayon = "1.8.1"

[build-dependencies]
cmake = "0.1.50"

[dev-dependencies]
criterion = "0.3"

[features]
default = []
devmode = ["icicle-core/devmode"]

[[bench]]
name = "vec_bench"
harness = false
