[package]
name = "icicle-m31"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "Rust wrapper the implementation of m31 prime field by Ingonyama"
homepage.workspace = true
repository.workspace = true

[dependencies]
icicle-core = { workspace = true }
icicle-runtime = { workspace = true }
icicle-hash = { workspace = true }
serde = "1.0.219"

[build-dependencies]
cmake = "0.1.50"
serde_json = "1.0.140"

[features]
cuda_backend = ["icicle-runtime/cuda_backend"]
pull_cuda_backend = ["icicle-runtime/pull_cuda_backend"]
metal_backend = ["icicle-runtime/metal_backend"]
pull_metal_backend = ["icicle-runtime/pull_metal_backend"]
vulkan_backend = ["icicle-runtime/vulkan_backend"]
pull_vulkan_backend = ["icicle-runtime/pull_vulkan_backend"]
