#include <cuda.h>
#include <stdbool.h>
// projective.h

#ifdef __cplusplus
extern "C" {
#endif

typedef struct {{.CurveNameUpperCase}}_projective_t {{.CurveNameUpperCase}}_projective_t;
typedef struct {{.CurveNameUpperCase}}_g2_projective_t {{.CurveNameUpperCase}}_g2_projective_t;
typedef struct {{.CurveNameUpperCase}}_affine_t {{.CurveNameUpperCase}}_affine_t;
typedef struct {{.CurveNameUpperCase}}_scalar_t {{.CurveNameUpperCase}}_scalar_t;

bool projective_is_on_curve_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_projective_t* point1);

{{.CurveNameUpperCase}}_scalar_t* random_scalar_{{.CurveNameLowerCase}}();
{{.CurveNameUpperCase}}_projective_t* random_projective_{{.CurveNameLowerCase}}();
{{.CurveNameUpperCase}}_projective_t* projective_zero_{{.CurveNameLowerCase}}();
{{.CurveNameUpperCase}}_affine_t* projective_to_affine_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_projective_t* point1);
{{.CurveNameUpperCase}}_projective_t* projective_from_affine_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_affine_t* point1);

{{.CurveNameUpperCase}}_g2_projective_t* random_g2_projective_{{.CurveNameLowerCase}}();
{{.CurveNameUpperCase}}_affine_t* g2_projective_to_affine_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_g2_projective_t* point1);
{{.CurveNameUpperCase}}_g2_projective_t* g2_projective_from_affine_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_affine_t* point1);
bool g2_projective_is_on_curve_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_g2_projective_t* point1);

bool eq_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_projective_t* point1, {{.CurveNameUpperCase}}_projective_t* point2);
bool eq_g2_{{.CurveNameLowerCase}}({{.CurveNameUpperCase}}_g2_projective_t* point1, {{.CurveNameUpperCase}}_g2_projective_t* point2);

#ifdef __cplusplus
}
#endif
