[package]
name = "icicle-bw6-761"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "Rust wrapper for the CUDA implementation of BW-761 pairing friendly elliptic curve by Ingonyama"
homepage.workspace = true
repository.workspace = true

[dependencies]
icicle-core = { workspace = true }
icicle-runtime = { workspace = true }
icicle-hash = { workspace = true }
icicle-bls12-377 = { path = "../../icicle-curves/icicle-bls12-377", features = ["bw6-761"] }
hex = "0.4"

[dev-dependencies]
criterion = "0.3"
serial_test = "3.0.0"

[build-dependencies]
cmake = "0.1.50"

[features]
default = []
no_g2 = ["icicle-bls12-377/no_bw6_g2"]
cuda_backend = ["icicle-bls12-377/cuda_backend"]
pull_cuda_backend = ["icicle-bls12-377/pull_cuda_backend"]
metal_backend = ["icicle-bls12-377/metal_backend"]
pull_metal_backend = ["icicle-bls12-377/pull_metal_backend"]

[[bench]]
name = "ntt"
harness = false

[[bench]]
name = "msm"
harness = false
