package tests

import (
	"testing"	
	"sync"
	"fmt"
	"os"
	"github.com/stretchr/testify/suite"
	{{if .SupportsNTT -}}
	
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/core"
	{{.Field}} "github.com/ingonyama-zk/icicle/v3/wrappers/golang/{{.BaseImportPath}}"{{end}}
	{{if .SupportsNTT -}}
	ntt "github.com/ingonyama-zk/icicle/v3/wrappers/golang/{{.BaseImportPath}}/ntt"{{end}}
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/runtime"

	{{if ne .GnarkImport "" -}}
	"github.com/consensys/gnark-crypto/ecc/{{.GnarkImport}}/fr/fft"
	{{end -}}
)

const (
	largestTestSize = 20
)

var (
	DEVICE runtime.Device
	exitCode int
)

{{if .SupportsNTT -}}
func initDomain({{if ne .GnarkImport "" -}}largestTestSize int, {{end -}}cfg core.NTTInitDomainConfig) runtime.EIcicleError {
	{{if ne .GnarkImport "" -}}
	rouMont, _ := fft.Generator(uint64(1 << largestTestSize))
	rou := rouMont.Bits()
	rouIcicle := {{.Field}}.{{.FieldPrefix}}Field{}
	limbs := core.ConvertUint64ArrToUint32Arr(rou[:])

	rouIcicle.FromLimbs(limbs)
	{{else -}}
	rouIcicle := {{.Field}}.{{.FieldPrefix}}Field{}
	rouIcicle.FromUint32({{.ROU}})
	{{end -}}
	e := ntt.InitDomain(rouIcicle, cfg)
	return e
}{{end}}

func testWrapper(suite suite.Suite, fn func(suite.Suite)) func() {
	return func() {
		wg := sync.WaitGroup{}
		wg.Add(1)
		runtime.RunOnDevice(&DEVICE, func(args ...any) {
			defer wg.Done()
			fn(suite)
		})
		wg.Wait()
	}
}

func TestMain(m *testing.M) {
	runtime.LoadBackendFromEnvOrDefault()
	devices, e := runtime.GetRegisteredDevices()
	if e != runtime.Success {
		panic("Failed to load registered devices")
	}
	for _, deviceType := range devices {
		fmt.Println("Running tests for device type:", deviceType)
		DEVICE = runtime.CreateDevice(deviceType, 0)
		runtime.SetDevice(&DEVICE)

		{{if .SupportsNTT -}}// setup domain
		cfg := core.GetDefaultNTTInitDomainConfig()
		e = initDomain({{if ne .GnarkImport "" -}}largestTestSize, {{end -}}cfg)
		if e != runtime.Success {
			if e != runtime.ApiNotImplemented {
				fmt.Println("initDomain is not implemented for ", deviceType, " device type")
			} else {
				panic("initDomain failed")
			}
		}{{end}}

		// TODO - run tests for each device type without calling `m.Run` multiple times
		// see https://cs.opensource.google/go/go/+/refs/tags/go1.23.1:src/testing/testing.go;l=1936-1940 for more info
		// execute tests
		exitCode |= m.Run()

		{{if .SupportsNTT -}}// release domain
		e = ntt.ReleaseDomain()
		if e != runtime.Success {
			if e != runtime.ApiNotImplemented {
				fmt.Println("ReleaseDomain is not implemented for ", deviceType, " device type")
			} else {
				panic("ReleaseDomain failed")
			}
		}{{end}}
	}

	os.Exit(exitCode)
}
