package tests

import (
	"sync"
	"testing"

	"github.com/stretchr/testify/suite"
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/core"
	icicle{{capitalize .Curve}} "github.com/ingonyama-zk/icicle/v3/wrappers/golang/{{.BaseImportPath}}"
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/{{.BaseImportPath}}/{{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}"
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/{{.BaseImportPath}}/vecOps"
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/internal/test_helpers"
	"github.com/ingonyama-zk/icicle/v3/wrappers/golang/runtime"
)

func testMSM{{.CurvePrefix}}(suite *suite.Suite) {
	cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
	cfg.IsAsync = true
	for _, power := range []int{2, 3, 4, 5, 6} {
		size := 1 << power

		scalars := icicle{{capitalize .Curve}}.GenerateScalars(size)
		points := {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}GenerateAffinePoints(size)

		// CPU run
		test_helpers.ActivateReferenceDevice()
		stream, _ := runtime.CreateStream()
		var p {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
		var out core.DeviceSlice
		_, e := out.MallocAsync(p.Size(), 1, stream)
		suite.Equal(e, runtime.Success, "Allocating bytes on device for Projective results failed")
		cfg.StreamHandle = stream

		e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, out)
		suite.Equal(e, runtime.Success, "Msm failed")
		outHost := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHost.CopyFromDeviceAsync(&out, stream)
		out.FreeAsync(stream)

		runtime.SynchronizeStream(stream)
		runtime.DestroyStream(stream)

		// Cuda run
		test_helpers.ActivateMainDevice()
		streamMain, _ := runtime.CreateStream()
		var pMain {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
		var outMain core.DeviceSlice
		_, eMain := outMain.MallocAsync(pMain.Size(), 1, streamMain)
		suite.Equal(eMain, runtime.Success, "Allocating bytes on device for Projective results failed")
		cfg.StreamHandle = stream

		e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, outMain)
		suite.Equal(e, runtime.Success, "Msm failed")
		outHostMain := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHostMain.CopyFromDeviceAsync(&outMain, streamMain)
		outMain.FreeAsync(streamMain)

		runtime.SynchronizeStream(streamMain)
		runtime.DestroyStream(streamMain)

		suite.Equal(out, outMain)
	}
}

func testMSM{{.CurvePrefix}}Batch(suite *suite.Suite) {
	cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
	for _, power := range []int{5, 6} {
		for _, batchSize := range []int{1, 3, 5} {
			size := 1 << power
			totalSize := size * batchSize
			scalars := icicle{{capitalize .Curve}}.GenerateScalars(totalSize)
			points := {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}GenerateAffinePoints(totalSize)

			test_helpers.ActivateReferenceDevice()
			var p {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
			var out core.DeviceSlice
			_, e := out.Malloc(p.Size(), batchSize)
			suite.Equal(e, runtime.Success, "Allocating bytes on device for Projective results failed")

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, out)
			suite.Equal(e, runtime.Success, "Msm failed")
			outHost := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], batchSize)
			outHost.CopyFromDevice(&out)
			out.Free()

			test_helpers.ActivateMainDevice()
			var pMain {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
			var outMain core.DeviceSlice
			_, eMain := outMain.Malloc(pMain.Size(), batchSize)
			suite.Equal(eMain, runtime.Success, "Allocating bytes on device for Projective results failed")

			eMain = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, outMain)
			suite.Equal(eMain, runtime.Success, "Msm failed")
			outHostMain := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], batchSize)
			outHostMain.CopyFromDevice(&outMain)
			outMain.Free()

			suite.Equal(out, outMain)
		}
	}
}

func testPrecomputePoints{{.CurvePrefix}}(suite *suite.Suite) {
	cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
	const precomputeFactor = 8
	cfg.PrecomputeFactor = precomputeFactor
	cfg.ArePointsSharedInBatch = false

	for _, power := range []int{7, 8} {
		for _, batchSize := range []int{1, 3, 5} {
			size := 1 << power
			totalSize := size * batchSize
			scalars := icicle{{capitalize .Curve}}.GenerateScalars(totalSize)
			points := {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}GenerateAffinePoints(totalSize)
			cfg.BatchSize = int32(batchSize)

			test_helpers.ActivateReferenceDevice()
			var precomputeOut core.DeviceSlice
			_, e := precomputeOut.Malloc(points[0].Size(), points.Len()*int(precomputeFactor))
			suite.Equal(runtime.Success, e, "Allocating bytes on device for PrecomputeBases results failed")

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}PrecomputeBases(points, &cfg, precomputeOut)
			suite.Equal(runtime.Success, e, "PrecomputeBases failed")

			var p {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
			var out core.DeviceSlice
			_, e = out.Malloc(p.Size(), batchSize)
			suite.Equal(runtime.Success, e, "Allocating bytes on device for Projective results failed")

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, precomputeOut, &cfg, out)
			suite.Equal(runtime.Success, e, "Msm failed")
			outHost := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], batchSize)
			outHost.CopyFromDevice(&out)
			out.Free()
			precomputeOut.Free()

			// Main device run
			test_helpers.ActivateMainDevice()
			var precomputeOutMain core.DeviceSlice
			_, eMain := precomputeOutMain.Malloc(points[0].Size(), points.Len()*int(precomputeFactor))
			suite.Equal(runtime.Success, eMain, "Allocating bytes on device for PrecomputeBases results failed")

			eMain = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}PrecomputeBases(points, &cfg, precomputeOutMain)
			suite.Equal(runtime.Success, eMain, "PrecomputeBases failed")

			var pMain {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
			var outMain core.DeviceSlice
			_, eMain = outMain.Malloc(pMain.Size(), batchSize)
			suite.Equal(runtime.Success, eMain, "Allocating bytes on device for Projective results failed")

			eMain = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, precomputeOutMain, &cfg, outMain)
			suite.Equal(runtime.Success, eMain, "Msm failed")
			outHostMain := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], batchSize)
			outHostMain.CopyFromDevice(&outMain)
			outMain.Free()
			precomputeOutMain.Free()

			suite.Equal(out, outMain, "MSM Batch with precompute failed")
		}
	}
}

func testPrecomputePointsSharedBases{{.CurvePrefix}}(suite *suite.Suite) {
	cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
	const precomputeFactor = 8
	cfg.PrecomputeFactor = precomputeFactor

	for _, power := range []int{4, 5, 6} {
		for _, batchSize := range []int{1, 3, 5} {
			size := 1 << power
			totalSize := size * batchSize
			scalars := icicle{{capitalize .Curve}}.GenerateScalars(totalSize)
			points := {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}GenerateAffinePoints(size)

			test_helpers.ActivateReferenceDevice()
			var precomputeOut core.DeviceSlice
			_, e := precomputeOut.Malloc(points[0].Size(), points.Len()*int(precomputeFactor))
			suite.Equal(runtime.Success, e, "Allocating bytes on device for PrecomputeBases results failed")

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}PrecomputeBases(points, &cfg, precomputeOut)
			suite.Equal(runtime.Success, e, "PrecomputeBases failed")

			var p {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
			var out core.DeviceSlice
			_, e = out.Malloc(p.Size(), batchSize)
			suite.Equal(runtime.Success, e, "Allocating bytes on device for Projective results failed")

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, precomputeOut, &cfg, out)
			suite.Equal(runtime.Success, e, "Msm failed")
			outHost := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], batchSize)
			outHost.CopyFromDevice(&out)
			out.Free()
			precomputeOut.Free()

			// Activate Main device
			test_helpers.ActivateMainDevice()
			var precomputeOutMain core.DeviceSlice
			_, eMain := precomputeOutMain.Malloc(points[0].Size(), points.Len()*int(precomputeFactor))
			suite.Equal(runtime.Success, eMain, "Allocating bytes on device for PrecomputeBases results failed")

			eMain = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}PrecomputeBases(points, &cfg, precomputeOutMain)
			suite.Equal(runtime.Success, eMain, "PrecomputeBases failed")

			var pMain {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
			var outMain core.DeviceSlice
			_, eMain = outMain.Malloc(pMain.Size(), batchSize)
			suite.Equal(runtime.Success, eMain, "Allocating bytes on device for Projective results failed")

			eMain = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, precomputeOutMain, &cfg, outMain)
			suite.Equal(runtime.Success, eMain, "Msm failed")
			outHostMain := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], batchSize)
			outHostMain.CopyFromDevice(&outMain)
			outMain.Free()
			precomputeOutMain.Free()

			suite.Equal(out, outMain, "MSM Batch with shared precompute failed")
		}
	}
}

func testMSM{{.CurvePrefix}}SkewedDistribution(suite *suite.Suite) {
	cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
	for _, power := range []int{2, 3, 4, 5} {
		size := 1 << power
		scalars := icicle{{capitalize .Curve}}.GenerateScalars(size)
		for i := size / 4; i < size; i++ {
			scalars[i].One()
		}
		points := {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}GenerateAffinePoints(size)
		for i := 0; i < size/4; i++ {
			points[i].Zero()
		}

		test_helpers.ActivateReferenceDevice()
		var p {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
		var out core.DeviceSlice
		_, e := out.Malloc(p.Size(), 1)
		suite.Equal(e, runtime.Success, "Allocating bytes on device for Projective results failed")

		e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, out)
		suite.Equal(e, runtime.Success, "Msm failed")
		outHost := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHost.CopyFromDevice(&out)
		out.Free()

		// Main
		test_helpers.ActivateMainDevice()
		var pMain {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
		var outMain core.DeviceSlice
		_, eMain := outMain.Malloc(pMain.Size(), 1)
		suite.Equal(eMain, runtime.Success, "Allocating bytes on device for Projective results failed")

		eMain = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, outMain)
		suite.Equal(eMain, runtime.Success, "Msm failed")
		outHostMain := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHostMain.CopyFromDevice(&outMain)
		outMain.Free()

		suite.Equal(out, outMain, "MSM skewed distribution failed")
	}
}

func testMSM{{.CurvePrefix}}MultiDevice(suite *suite.Suite) {
	test_helpers.ActivateMainDevice()
	secondHalfDevice := runtime.CreateDevice("CUDA", 1)
	numDevices, _ := runtime.GetDeviceCount()
	if numDevices < 2 {
		secondHalfDevice.Id = 0
	}
	wg := sync.WaitGroup{}

		for _, power := range []int{2, 3, 4, 5, 6} {
		size := 1 << power
		halfSize := size / 2
		scalars := icicleBn254.GenerateScalars(size)
		points := icicleBn254.GenerateAffinePoints(size)

		secondHalfDevice := runtime.CreateDevice("CUDA", 1)

		wg.Add(2)
		var p {{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective
		outHostMain1 := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHostMain2 := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHostMainFinal := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)

		runtime.RunOnDevice(&test_helpers.MAIN_DEVICE, func(args ...any) {
			defer wg.Done()
			stream, _ := runtime.CreateStream()
			var out core.DeviceSlice
			_, e := out.MallocAsync(p.Size(), 1, stream)
			suite.Equal(e, runtime.Success, "Allocating bytes on device for Projective results failed")
			cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
			cfg.IsAsync = true
			cfg.StreamHandle = stream

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars[:halfSize], points[:halfSize], &cfg, out)
			suite.Equal(e, runtime.Success, "Msm failed")
			outHostMain1.CopyFromDeviceAsync(&out, stream)
			out.FreeAsync(stream)

			runtime.SynchronizeStream(stream)
			runtime.DestroyStream(stream)
		})

		runtime.RunOnDevice(&secondHalfDevice, func(args ...any) {
			defer wg.Done()
			stream, _ := runtime.CreateStream()
			var out core.DeviceSlice
			_, e := out.MallocAsync(p.Size(), 1, stream)
			suite.Equal(e, runtime.Success, "Allocating bytes on device for Projective results failed")
			cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
			cfg.IsAsync = true
			cfg.StreamHandle = stream

			e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars[halfSize:], points[halfSize:], &cfg, out)
			suite.Equal(e, runtime.Success, "Msm failed")
			outHostMain2.CopyFromDeviceAsync(&out, stream)
			out.FreeAsync(stream)

			runtime.SynchronizeStream(stream)
			runtime.DestroyStream(stream)
		})

		wg.Wait()

		vecOps.VecOp(outHostMain1, outHostMain2, outHostMainFinal, core.DefaultVecOpsConfig(), core.Add)

		test_helpers.ActivateReferenceDevice()
		stream, _ := runtime.CreateStream()
		var out core.DeviceSlice
		_, e := out.MallocAsync(p.Size(), 1, stream)
		suite.Equal(e, runtime.Success, "Allocating bytes on device for Projective results failed")
		cfg := {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}GetDefaultMSMConfig()
		cfg.IsAsync = true
		cfg.StreamHandle = stream

		e = {{if eq .CurvePrefix "G2"}}g2{{else}}msm{{end}}.{{.CurvePrefix}}Msm(scalars, points, &cfg, out)
		suite.Equal(e, runtime.Success, "Msm failed")
		outHost := make(core.HostSlice[{{if ne .CurvePrefix "G2"}}icicle{{capitalize .Curve}}{{else}}g2{{end}}.{{.CurvePrefix}}Projective], 1)
		outHost.CopyFromDeviceAsync(&out, stream)
		out.FreeAsync(stream)

		runtime.SynchronizeStream(stream)
		runtime.DestroyStream(stream)

		suite.Equal(outHost, outHostMainFinal, "Multi-device MSM failed")
	}
}

type MSM{{.CurvePrefix}}TestSuite struct {
	suite.Suite
}

func (s *MSM{{.CurvePrefix}}TestSuite) TestMSM{{.CurvePrefix}}() {
	s.Run("TestMSM{{.CurvePrefix}}", testWrapper(&s.Suite, testMSM{{.CurvePrefix}}))
	s.Run("TestMSM{{.CurvePrefix}}Batch", testWrapper(&s.Suite, testMSM{{.CurvePrefix}}Batch))
	s.Run("TestPrecomputePoints{{.CurvePrefix}}", testWrapper(&s.Suite, testPrecomputePoints{{.CurvePrefix}}))
	s.Run("TestPrecomputePointsSharedBases{{.CurvePrefix}}", testWrapper(&s.Suite, testPrecomputePointsSharedBases{{.CurvePrefix}}))
	s.Run("TestMSM{{.CurvePrefix}}SkewedDistribution", testWrapper(&s.Suite, testMSM{{.CurvePrefix}}SkewedDistribution))
	// s.Run("TestMSM{{.CurvePrefix}}MultiDevice", testWrapper(&s.Suite, testMSM{{.CurvePrefix}}MultiDevice))
}

func TestSuiteMSM{{.CurvePrefix}}(t *testing.T) {
	suite.Run(t, new(MSM{{.CurvePrefix}}TestSuite))
}
