package {{.CurveData.PackageName}}

// #cgo LDFLAGS: -L${SRCDIR}/../../../../icicle/build/src/curves -lingo_curve_{{.CurveData.Curve}} -lstdc++ -lm
import "C"
import (
	{{.CurveData.Curve}}Fields "github.com/ingonyama-zk/icicle/wrappers/golang/temp_golang_structure/fields/{{.CurveData.Curve}}"
)

type ScalarField = {{.CurveData.Curve}}Fields.ScalarField
type BaseField = {{.CurveData.Curve}}Fields.BaseField
