[package]
name = "ntt"
version = "0.1.0"
edition = "2018"

[dependencies]
icicle-runtime = { path = "../../../wrappers/rust/icicle-runtime" }
icicle-core = { path = "../../../wrappers/rust/icicle-core" }
icicle-bn254 = { path = "../../../wrappers/rust/icicle-curves/icicle-bn254" }
icicle-bls12-377 = { path = "../../../wrappers/rust/icicle-curves/icicle-bls12-377" }
ark-bn254 = "0.4.0"
ark-bls12-377 = "0.4.0"
ark-ff = "0.4.0"
ark-poly = "0.4.0"

clap = { version = "<=4.4.12", features = ["derive"] }

[features]
cuda = [
        "icicle-runtime/cuda_backend",
        "icicle-bn254/cuda_backend",
        "icicle-bn254/no_ecntt",
        "icicle-bn254/no_g2",
        "icicle-bls12-377/cuda_backend",
        "icicle-bls12-377/no_ecntt",
        "icicle-bls12-377/no_g2",
]

metal = [
        "icicle-runtime/metal_backend",
        "icicle-bn254/metal_backend",
        "icicle-bn254/no_ecntt",
        "icicle-bn254/no_g2",
        "icicle-bls12-377/metal_backend",
        "icicle-bls12-377/no_ecntt",
        "icicle-bls12-377/no_g2",
]

vulkan = [
        "icicle-runtime/vulkan_backend",
        "icicle-bn254/vulkan_backend",
        "icicle-bn254/no_ecntt",
        "icicle-bn254/no_g2",
        "icicle-bls12-377/vulkan_backend",
        "icicle-bls12-377/no_ecntt",
        "icicle-bls12-377/no_g2",
]
