package {{.PackageName}}

// #cgo LDFLAGS: -L${SRCDIR}/../../../../icicle/build/src/curves -lingo_curve_{{.Curve}} -lstdc++ -lm
// #cgo LDFLAGS: -L${SRCDIR}/../../../../icicle/build/src/fields -lingo_field_{{.Curve}}
// #cgo LDFLAGS: -L${SRCDIR}/../../../../icicle/build/src/hash -lingo_hash
import "C"
