{{if .IsG2 -}}
//go:build g2

{{end -}}
package {{.PackageName}}

// #cgo CFLAGS: -I./include/
// #include "{{if .IsG2 -}}g2_{{end}}msm.h"
import "C"

import (
	"github.com/ingonyama-zk/icicle/wrappers/golang/core"
	cr "github.com/ingonyama-zk/icicle/wrappers/golang/cuda_runtime"
)

func {{if .IsG2}}G2{{end}}GetDefaultMSMConfig() core.MSMConfig {
	return core.GetDefaultMSMConfig()
}

func {{if .IsG2}}G2{{end}}Msm(scalars core.HostOrDeviceSlice, points core.HostOrDeviceSlice, cfg *core.MSMConfig, results core.HostOrDeviceSlice) cr.CudaError {
	scalarsP, pointsP, cfgP, size, resultsP := core.MsmCheck[ScalarField, {{if .IsG2}}G2{{end}}Affine, {{if .IsG2}}G2{{end}}Projective](scalars, points, cfg, results)
	cScalars := (*C.scalar_t)(scalarsP)
	cPoints := (*C.{{if .IsG2}}g2_{{end}}affine_t)(pointsP)
	cCfg := (*C.MSMConfig)(cfgP)
	cSize := (C.int)(size)
	cResults := (*C.{{if .IsG2}}g2_{{end}}projective_t)(resultsP)

	__ret := C.{{.Curve}}{{if .IsG2}}G2{{end}}MSMCuda(cScalars, cPoints, cSize, cCfg, cResults)
	err := (cr.CudaError)(__ret)
	return err
}
