#pragma once

#include "icicle/errors.h"
#include "icicle/runtime.h"
#include "icicle/utils/log.h"

template <typename S = scalar_t, typename E = scalar_t>
eIcicleError cpu_ntt(const Device& device, const E* input, int size, NTTDir dir, NTTConfig<S>& config, E* output)
{
  ICICLE_LOG_ERROR << "cpu_(ec)ntt() not implemented";
  return eIcicleError::API_NOT_IMPLEMENTED;
}