[package]
name = "icicle-grumpkin"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "Rust wrapper for the CUDA implementation of Grumpkin pairing friendly elliptic curve by Ingonyama"
homepage.workspace = true
repository.workspace = true

[dependencies]
icicle-core = { workspace = true }
icicle-runtime = { workspace = true }
# criterion = "0.3"

[dev-dependencies]
criterion = "0.3"
serial_test = "3.0.0"

[build-dependencies]
cmake = "0.1.50"

[features]
default = []
cuda_backend = ["icicle-runtime/cuda_backend"]
pull_cuda_backend = ["icicle-runtime/pull_cuda_backend"]

[[bench]]
name = "msm"
harness = false
