[package]
name = "icicle-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
description = "A library for GPU ZK acceleration by Ingonyama"
homepage.workspace = true
repository.workspace = true


[dependencies]

icicle-cuda-runtime = { workspace = true }

ark-ff = { version = "0.4.0", optional = true }
ark-ec = { version = "0.4.0", optional = true, features = ["parallel"] }
ark-poly = { version = "0.4.0", optional = true }
ark-std = { version = "0.4.0", optional = true }

rayon = "1.8.1"

[dev-dependencies]
serial_test = "3.0.0"

[features]
default = []
arkworks = ["ark-ff", "ark-ec", "ark-poly", "ark-std"]
g2 = []
ec_ntt = []
devmode = []
