[package]
name = "icicle-core"
version = "0.1.0"
edition = "2021"
authors = [ "Ingonyama" ]
description = "A library for GPU ZK acceleration by Ingonyama"
homepage = "https://www.ingonyama.com"
repository = "https://github.com/ingonyama-zk/icicle"


[dependencies] 

icicle-cuda-runtime = { path = "../icicle-cuda-runtime" }

ark-ff = { version = "0.4.0", optional = true }
ark-ec = { version = "0.4.0", optional = true, features = [ "parallel" ] }
ark-poly = { version = "0.4.0", optional = true }
ark-std = { version = "0.4.0", optional = true }

# [build-dependencies]
# cc = { version = "1.0", features = ["parallel"] }
# cmake = "*"
# bindgen = "*"
# libc = "*" #TODO: move libc dependencies to build 

[features]
default = []
arkworks = ["ark-ff", "ark-ec", "ark-poly", "ark-std"]
# TODO: impl G2 and EC NTT
g2 = []
ec_ntt = []
