#include <stdbool.h>

#ifndef _{{toUpper .Curve}}_{{.CurvePrefix}}CURVE_H
#define _{{toUpper .Curve}}_{{.CurvePrefix}}CURVE_H

#ifdef __cplusplus
extern "C" {
#endif

typedef struct {{toCName .CurvePrefix}}projective_t {{toCName .CurvePrefix}}projective_t;
typedef struct {{toCName .CurvePrefix}}affine_t {{toCName .CurvePrefix}}affine_t;
typedef struct VecOpsConfig VecOpsConfig;

bool {{.Curve}}{{toCNameBackwards .CurvePrefix}}_eq({{toCName .CurvePrefix}}projective_t* point1, {{toCName .CurvePrefix}}projective_t* point2);
void {{.Curve}}{{toCNameBackwards .CurvePrefix}}_to_affine({{toCName .CurvePrefix}}projective_t* point, {{toCName .CurvePrefix}}affine_t* point_out);
void {{.Curve}}{{toCNameBackwards .CurvePrefix}}_generate_projective_points({{toCName .CurvePrefix}}projective_t* points, int size);
void {{.Curve}}{{toCNameBackwards .CurvePrefix}}_generate_affine_points({{toCName .CurvePrefix}}affine_t* points, int size);
int {{.Curve}}{{toCNameBackwards .CurvePrefix}}_affine_convert_montgomery(const {{toCName .CurvePrefix}}affine_t* d_in, size_t n, bool is_into, const VecOpsConfig* ctx, {{toCName .CurvePrefix}}affine_t* d_out);
int {{.Curve}}{{toCNameBackwards .CurvePrefix}}_projective_convert_montgomery(const {{toCName .CurvePrefix}}projective_t* d_in, size_t n, bool is_into, const VecOpsConfig* ctx, {{toCName .CurvePrefix}}projective_t* d_out);

#ifdef __cplusplus
}
#endif

#endif
