#include <stdint.h>

#ifndef _{{toUpper .Field}}_POSEIDON
  #define _{{toUpper .Field}}_POSEIDON

  #ifdef __cplusplus
extern "C" {
  #endif

typedef struct scalar_t scalar_t;
typedef struct Hash Hash;

Hash* {{.Field}}_create_poseidon_hasher(unsigned t, const scalar_t* domain_tag);

  #ifdef __cplusplus
}
  #endif

#endif
