name: Build Release Docker Images

on: workflow_dispatch
    
jobs:
  build-and-publish:
    name: Build and Publish Docker Images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        images:
          - ubuntu22
          - ubuntu20
          - ubi8
          - ubi9
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build, tag, and push docker image
        uses: docker/build-push-action@v6
        with:
          # this label connects the icicle repo with the built package
          # See more: https://docs.github.com/en/packages/learn-github-packages/connecting-a-repository-to-a-package
          labels: |
            org.opencontainers.image.source=https://github.com/ingonyama-zk/icicle
          file: ./Dockerfile.${{ matrix.images }}
          tags: ghcr.io/ingonyama-zk/icicle-release-${{ matrix.images }}-cuda122:latest
          push: true